.author {

    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    

    &-image {
        display: flex;
        width: 100%;
        justify-content: center;
        z-index: 1;
        transform: translate(0, 2rem);
        filter: drop-shadow(2px 2px 2px rgba(87, 87, 87, 0.5));

        img {
            width: 50%;
            height: 50%;
            border-radius: 10px;
        }
    }

    &-info {
        padding-top: 2rem;
        border: 1px solid $base-blue;
        border-radius: 10px;
        background-color: white;
        filter: drop-shadow(2px 2px 2px rgba(87, 87, 87, 0.5));
    }

    &-awards {
        margin: 1rem 0 1rem 0;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            justify-items: stretch;
            align-items: stretch;
            align-content: stretch;
        }
    }

    &-links {
        display: flex;
        justify-content: center;
        margin: 1rem 0 1rem 0;
    }

    @media screen and (min-width: 760px) {
        
        flex-direction: row;
        justify-content: space-between;
        border: solid 2px $base-blue;
        background-color: white;
        filter: drop-shadow(2px 2px 2px rgba(87, 87, 87, 0.5));
        
        
        &-image {
            width: 35%;
            height: 100%;
            transform: translate(0,0);
            //border-radius: 0;
            margin: auto 0;

            img {
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
        }

        &-info {
            width: 60%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: none;
            background-color: transparent;
            filter: drop-shadow(0 0 0 transparent);

            h1 {
                display: block;
            }

            hr {
                width: 50%;
                margin: 0 auto;
            }
        }
        
    }
}