.blog {
    max-height: 700px;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: 5rem 0 5rem 0;
    color: white;
    z-index: 2;
    overflow: hidden;

    &-author {
      
      span {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        font-size: 1.5rem;

        img {
          margin: 0 1rem;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          border: 2px solid $light-brown;
        }
      }
    }
  
    &-tags {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0 1rem 0;
      width: 100%;
      justify-content: center;
      justify-items: stretch;
      
  
      span {
        background-color: $base-brown;
        color: black;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        display: grid;
        place-items: center;
        text-align: center;
      }
    }
  
    &-links {
      display: flex;
          justify-content: center;
          margin: 1rem 0 1rem 0;
    }

    &-info {
      font-size: 1.5rem;
    }
}

.blg-title {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}