.card {
    
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 400px;
    //height: 100%;
    margin: 1rem 4px 1rem 4px;
    filter: drop-shadow(3px 3px 3px rgba(5, 5, 5, 0.4));

    &-image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-info {
        padding: 1rem;

        h1 {
            letter-spacing: .1px;
            border-bottom: 2px $base-blue solid;
        }

        span {

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
                border: 1px solid $base-red;
                border-radius: 50%;
                margin: 0 .5rem 0 .5rem;
            }
        }

        p {
            text-align: center;
            margin: .5rem 0 .5rem 0;
        }
    }

    &-author {
        margin: .5rem 0 0 0;
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0 1rem 0;
        width: 100%;
        justify-content: center;
        justify-items: stretch;
        
    
        span {
          background-color: $base-brown;
          color: black;
          border-radius: 10px;
          padding: 5px;
          margin: 5px;
          display: grid;
          place-items: center;
          text-align: center;
        }
    }

    &-links {
        display: flex;
        justify-content: center;
    }


    &-blog {
        // &:nth-child(1) {
        //     background-color: white;
        // }
        border: 2px solid $base-blue;
        background-color: $light-blue;

        .card-image {
            flex-direction: column;
            height: 50%;

            h1 {
                
            }
        }

        
    }

    &-work {
        height: 100%;
        border: 2px solid $base-red;
        background-color: $light-red;

        .card-image {
            flex-direction: column;
            height: 50%;
        }

        h1 {
            letter-spacing: .1px;
            border-bottom: 2px $base-red solid;
        }
    }
}