// general styles

.content {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    font-family: 'Cormorant Garamond', serif !important;

    a {
      color: blue !important;
    }
    
   }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  article img {
    display: block;
    max-width: 100%;
  }
  
  .kg-width-wide img {
    max-width: 85vw;
  }

  .kg-image {
    max-width: 100%;
  }
  
  .kg-width-full img {
    max-width: 100vw;
  }
  
  article figure {
    margin: 0;
  }
  
  article figcaption {
    text-align: center;
  }
  
  body {
    margin: 0;
  }
  
  header, footer {
    padding: 15px 25px;
    background-color: #000;
    color: #fff;
  }
  
  h1 {
    width: 100%;
  }

  // negative margin and transforms

  .content {
    width: 100%;
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 1.5rem;
    background-color: rgb(227, 244, 251);
    padding: 1rem;
   }
  
  article img {
    display: block;
    max-width: 100%;
  }
  
  .kg-width-wide {
    position: relative;
    width: 85vw;
    min-width: 100%;
    margin: auto calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
  }
  
  .kg-width-full {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  article figure {
    margin: 0;
  }
  
  article figcaption {
    text-align: center;
  }
  
  body {
    margin: 0;
  }
  
  header, footer {
    padding: 15px 25px;
    background-color: #000;
    color: #fff;
  }

  // Bookmark Card

  .kg-bookmark-card {
    width: 100%;
    position: relative;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: .5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: .5em;
    margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 .5em;
}


// Embed Card


.fluid-width-video-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footnotes, .comments, .content blockquote, .content dl, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content ol, .content p, .content pre, .content ul {
  margin: 0 0 1.5em;
  min-width: 100%;
}