.feature {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &-image {
        display: flex;
        width: 50%;
        justify-content: center;
        z-index: 1;
        margin: 0 auto;
        transform: translate(0, 1rem);
        filter: drop-shadow(2px 2px 2px rgba(87, 87, 87, 0.5));

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    &-author {
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;

        p {
            padding: 0 1rem 0 1rem;
        }

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid $base-red;
        }
    }

    &-info {
        padding-top: 2rem;
        border: 1px solid $base-red;
        border-radius: 10px;
        background-color: white;
        filter: drop-shadow(2px 2px 2px rgba(87, 87, 87, 0.5));
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0 1rem 0;
        width: 100%;
        justify-content: center;
        justify-items: stretch;

        span {
            background-color: $base-brown;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            display: grid;
            place-items: center;
            text-align: center;
        }
    }

    &-links {
        display: flex;
        justify-content: center;
        margin: 1rem 0 1rem 0;
    }

    @media screen and (min-width: 760px) {

        
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        border: 2px solid $base-red;
        margin: 1rem auto;
        background-color: white;
        filter: drop-shadow(3px 5px 5px rgba(87, 87, 87, 0.5));

        &-image {
            border-radius: 0;
            transform: translate(0,0);

            img {
                border-radius: 0;
            }

        }

        &-author {
            justify-content: flex-start;
            padding-left: 3rem;
        }

        &-info {
            padding: 1rem;
            height: 100%;
            width: 50%;
            border-radius: 0;
            border: 0;
            filter: drop-shadow(0 0 0 transparent);
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                text-align: left;
                padding-bottom: 0;
            }
            
            p {
                text-align: left;
            }


        }

        &-tags {
            justify-content: flex-start;
            padding-left: .5rem;
        }

        &-links {
            justify-content: flex-start;
        }
    }
}