.footer {
    background: $dark-blue;
    display: flex;
    flex-direction: column;

    

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        justify-items: center;

        @media screen and (min-width: 580px) {
            flex-direction: row;

        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 580px) {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 30%;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        @media screen and (min-width: 580px) {
            flex-direction: column;
            justify-content: space-around;
            width: 30%;
        }
    }

    &-social {
        .box {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            border: $light-blue 3px solid;
            padding: 1rem;
            max-width: fit-content;   

            img {
                margin: 0 1rem;
                height: 2rem;
            }
        }
    }

    &-logo {
        display: grid;
        place-items: center;
        width: 100%;
        margin: 1rem 0;
        img {
            height: 5rem;
        }
    }

    &-map {

        color: $white-blue;
        max-width: 30rem;
        

        ul {
            display: flex;
            padding: 0;
            justify-content: space-around;
            li {
                list-style: none;
                margin: 1rem .5rem;
                a {
                    font-size: .55rem;
                    @media screen and (min-width: 580px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &-legal {
        margin: 1rem 0;
        color: $white-blue;
        text-align: center;
    }

    &-build {
        display: flex;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        img {
            margin: 1rem .5rem;
            height: 1rem;
        }
    }

    &-admin {
        color: $darkest-blue;
        text-align: center;
    }
    
    &-bottom {
        height: 55px;
        @media screen and (min-width: 580px) {
            height: 1px;
        }
    }

    
}