html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
  margin: 0;
  //padding: 0;
  //border: 0;
  //outline: 0;
  //font-size: 100%;
  //vertical-align: baseline;
  //background: transparent;
}

header {
  padding: 0;
}

.container {

  padding: 0 0% 0 0%;

  @media screen and (min-width: 580px) {
    padding: 0 10% 0 10%;
  }

  @media screen and (min-width: 1080px) {
    padding: 0 10% 0 10%;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 20% 0 20%;
  }
}

.center {
  display: grid;
  place-items: center;
  padding: 0% 2%;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pt-60 {
  padding-top: 60px;
}

main {
 background: $white-blue;
}
