.page-header {

  width: 100%;
  
  h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    border-bottom: 3px solid $base-brown;
  }
}

.page-description {
  text-align: center;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
}

.link {
  //padding: .75rem 1.5rem .75rem 1.5rem;
  padding: .5rem 1.5rem;
  color: white;
  margin: 0 1rem 0 1rem;
  filter: drop-shadow(3px 3px 2px rgba(87, 87, 87, 0.5));
  font-family: 'Mairon';
  letter-spacing: .75px;
  //letter-spacing: 2px;
  transition: .3s;

  a {
    text-transform: capitalize;
  }

  &-red {
    background-color: $base-red;

    &:hover,
    &:focus {
      background-color: $dark-red;
      color: $base-brown;
    }
  }

  &-blue {
    background-color: $base-blue;

    &:hover,
    &:focus {
      background-color: $dark-blue;
      color: $base-brown;
    }
  }

  &-brown {
    background-color: $base-brown;
    color: black;
    
    &:hover,
    &:focus {
      background-color: $dark-brown;
      color: white;
    }
  }

  z-index: 2;

  @media screen and (min-width: 760px) {
    padding: .75rem 1.5rem .75rem 1.5rem;
    letter-spacing: 2px;
  }

}

.tag-blue {
  span {
    background-color: $base-blue;
  }
}

.tag-red {
  span {
    background-color: $base-red;
    color: white;
  }
}

.bracket-blue {
  border-left: solid $base-blue 3px;
  border-right: solid $base-blue 3px;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  padding: 7rem 0 7rem 0;
  filter: drop-shadow(3px 3px 2px rgba(87, 87, 87, 0.5));

  &-image {
    width: 50%;
    height: 50%;
    transform: translate(0, 2rem);  

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      border: 3px solid $base-red;
      filter: drop-shadow(3px 3px 2px rgba(44, 44, 44, 0.5));
    }
  }

  &-info {
    background-color: white;
    text-align: center;
    padding-top: 2.5rem;
    border-radius: 10px;
    border: 3px solid $base-red;

    p {
      font-size: 12px;
      padding: 1rem;

      @media screen and (min-width: 759px) {
        font-size: 16px;
        padding: 1.5rem;
      }
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}