.nav {

        background-color: $base-blue;
        width: 100%;
        position: fixed;
        height: 60px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 10% 0 10%;
        z-index: 3;

        @media screen and (min-width: 1080px) {
            padding: 0 15% 0 15%;
          }
          @media screen and (min-width: 1440px) {
            padding: 0 20% 0 20%;
          }

        .brand {
            visibility: visible;
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            margin-left: 10px;

            .logo-container {
                height: 100%;

                a {
                    display: block;
                    height: 100%;
                    
                    img {
                        height: 90%;
                        margin: auto;
                    }
                }
            }

            span {
                height: 100%;
                
                a {
                    display: grid;
                    height: 100%;
                    place-items: center;
                    margin-left: 10px;
                    color: black;
                    
                    h2 {
                        margin: 0;
                        line-height: 0;
                    }
                }
            }

            @media screen and (max-width: 749px) {
                visibility: hidden;
                height: 0;
                width: 0;
            }
        }

        &-links {
            display: flex;
            align-content: stretch;
            margin: 0;
            padding: 0;
            width: 50%;
            height: 100%;

            li {
                text-decoration: none;
                list-style-type: none;
                height: 100%;
                width: 100%;
                transition: .5s;

                a {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                padding: .5rem;
                width: 100%;
                height: 100%;            
                transition: .3s;
                letter-spacing: 2px;
                

                color: $light-brown;

                @media screen and (max-width: 900px) {
                    font-size: .7rem;
                }

                &:hover,
                &:focus {
                    background-color: $dark-blue;
                    color: white;
                }
                    
                    img {
                        visibility: hidden;
                        width: 0;
                        height: 0;
                    }
    
                    span {
                        visibility: visible;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                    }

                }

                
            }

            @media screen and (max-width: 749px) {
                visibility: hidden;
                height: 0;
                width: 0;
            }
        }

        @media screen and (max-width: 749px) {
            visibility: hidden;
            height: 0;
            width: 0;
        }
        
    }

.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: $base-blue;
    filter: drop-shadow(0px -1px 1px rgba(51, 51, 51, 0.4));

    display: flex;
    flex-direction: column;
    transform: translate(0, 50%);
    transition: .5s;
    z-index: 3;

    .image-container {
        height: 50px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

        a {
            height: 50px;
            width: 50px;
        }

        img {
            height: 50px;
            width: 50px;
            margin: 0;
            filter: drop-shadow(1px 1px 1px rgba(51, 51, 51, 0.4));
        }

        @media screen and (min-width: 750px) {
            visibility: hidden;
            height: 0;
            width: 0;
        }
    }

    .mobile-links {
        display: flex;
        height: 50px;
        width: 100%;
        margin: 0;
        padding: 0;

        list-style-type: none;
        text-decoration: none;

        li {
            height: 100%;
            width: 100%;

            a {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    height: 80%;
                    width: 80%;
                }
            }
        }
    }

    @media screen and (min-width: 750px) {
        visibility: hidden;
        height: 0;
        width: 0;
    }
}
