.news {
    height: 40rem;
    background-image: radial-gradient(rgba(66, 56, 49, 0.5) 10%, black 70%),
    url('./assets/news.jpg');
    background-size: cover;
    //background-position: -5rem .5rem;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: rgb(231, 231, 231);
    text-align: center;
    filter: drop-shadow(0px 1px 2px, black, .5);

    @media screen and (min-width: 750px) {
        background-position: -5rem .5rem;
    }

    h1 {
        font-size: 1rem;
        padding: 2rem 0;
        text-align: center;

        @media screen and (min-width: 750px) {
            font-size: 2rem;
        }
    }

    p {
        margin: 1rem;
    }
}