
.top {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: gray;
    background-blend-mode: multiply;
    padding-top: 5rem;

    @media screen and (min-width: 760px) {
        padding-top: 5rem;
    }
    
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 0 2rem 0;
}

.jr {
    width: 60%;
}

.earthlogo {
    margin: 1rem;
    height: 30%;
    width: 30%;
}

.bftm {
    width: 95%;
}

.cta {

    //margin-bottom: 3rem;

    &-container {
        display: grid;
        place-items: center;
        padding: 3.5rem;
    }
}

.earthlogo {

    filter: drop-shadow(-5px 13px 3px rgba(0, 0, 0, .5));

    .earth {

        &__shield {
            opacity: 0;
            stroke-width: 0;
        }

        @include animation('shield-reveal .5s ease-in-out forwards 1');

        @include keyframes(shield-reveal) {
            0% {
                opacity: 0;
            }

            80% {
                opacity: 1;
            }

            100% {
                opacity: 1;
                stroke-width: 2;
            }
        }

        &__ring {
            stroke-width: 0;

            @include animation('ring-reveal .5s ease-in-out forwards 1');

            @include keyframes(ring-reveal) {
                to {
                    stroke-width: 3;
                }
            }
        }

        &__letter-b {
            
            opacity: 0;
            @include animation('step .4s cubic-bezier(0,-0.12,.86,1.39) .4s alternate forwards 1 running');
        }

        &__letter-f {
            
            opacity: 0;
            @include animation('step .4s cubic-bezier(0,-0.12,.86,1.39) .8s alternate forwards 1 running');
        }

        &__letter-t {
            
            opacity: 0;
            @include animation('step .4s cubic-bezier(0,-0.12,.86,1.39) 1.2s alternate forwards 1 running');
        }

        &__letter-m {
            
            opacity: 0;
            @include animation('step .4s cubic-bezier(0,-0.12,.86,1.39) 1.6s alternate forwards 1 running');
        }

        @include keyframes(step) {
            0% {
                opacity: 0;
                transform: scale(1.5, 1.5);
            }

            50% {
                opacity: .8;
                transform: scale(.99, .97);
            }

            100%{
                opacity: 1;
                transform: scale(1,1);
                filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
            }
        }
        
        &__spear {

            &-flat-down {
                opacity: 0;
                @include animation('slide-down .1s cubic-bezier(0,-0.12,.86,1.39) .4s alternate forwards 1 running')
            }

            &-flat-up {
                opacity: 0;
                @include animation('slide-up .1s cubic-bezier(0,-0.12,.86,1.39) .6s alternate forwards 1 running')
            }

            &-down-right {
                opacity: 0;
                @include animation('slide-down-right .1s cubic-bezier(0,-0.12,.86,1.39) .8s alternate forwards 1 running')
            }

            &-up-left {
                opacity: 0;
                @include animation('slide-up-left .1s cubic-bezier(0,-0.12,.86,1.39) 1s alternate forwards 1 running')
            }

            &-down-left {
                opacity: 0;
                @include animation('slide-down-left .1s cubic-bezier(0,-0.12,.86,1.39) 1.2s alternate forwards 1 running')
            }

            &-up-right {
                opacity: 0;
                @include animation('slide-up-right .1s cubic-bezier(0,-0.12,.86,1.39) 1.4s alternate forwards 1 running')
            }

            &-flat-right {
                opacity: 0;
                @include animation('slide-flat-right .1s cubic-bezier(0,-0.12,.86,1.39) 1.6s alternate forwards 1 running')
            }

            &-flat-left {
                opacity: 0;
                @include animation('slide-flat-left .1s cubic-bezier(0,-0.12,.86,1.39) 1.6s alternate forwards 1 running')
            }

            @include keyframes(slide-down) {
                0% {
                    transform: translate(0, -100%);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            @include keyframes(slide-up) {
                0% {
                    transform: translate(0, 100%);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }
            
            @include keyframes(slide-down-right) {
                0% {
                    transform: translate(-100%, -100%);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            @include keyframes(slide-up-left) {
                0% {
                    transform: translate(100%, 100%);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            @include keyframes(slide-down-left) {
                0% {
                    transform: translate(100%, -100%);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            @include keyframes(slide-up-right) {
                0% {
                    transform: translate(-100%, 100%);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            @include keyframes(slide-flat-right) {
                0% {
                    transform: translate(-100%,0);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }
            
            @include keyframes(slide-flat-left) {
                0% {
                    transform: translate(100%,0);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }
            
            
        }
    }
}

.jr {
    filter: drop-shadow(-5px 13px 3px rgba(0, 0, 0, .5));
}

.bftm {
    filter: drop-shadow(-5px 13px 3px rgba(0, 0, 0, .5));
}

.bftm__top-right,
.bftm__bottom-right,
.jr__top-right,
.jr__bottom-right {

    opacity: 0;
    @include animation('slide-flat-right .3s cubic-bezier(0,-0.12,.86,1.39) 2s alternate forwards 1 running');


    @include keyframes(slide-flat-right) {
        0% {
            transform: translate(-100%,0);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

.bftm__top-left,
.bftm__bottom-left,
.jr__top-left,
.jr__bottom-left {

    opacity: 0;
    @include animation('slide-flat-left .3s cubic-bezier(0,-0.12,.86,1.39) 2s alternate forwards 1 running');


    @include keyframes(slide-flat-left) {
        0% {
            transform: translate(100%,0);
            opacity: 0;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

.bftm__letters,
.jr__letters {
    
    opacity: 0;
    @include animation('fade-in .5s ease-out 2s forwards');

    @include keyframes (fade-in) {
        to {
            opacity: 1;
        }
    }
}