.card {

    &-title {
        text-align: center;
        padding: 1rem;
    }

    &-content {
        text-align: center;
        padding: 1rem;
    }
}

.mai {
    font-family: 'Mairon';
}

.crimson {
    font-family: 'Crimson Text', serif;
}

.prev {
    font-family: 'Crimson Text', serif;
    font-size: 1rem;

    @media screen and (min-width: 750px) {
        font-size: 1.25rem;
    }

    @media screen and (min-width: 1080px) {
        font-size: 1.3rem;
    }
}

