//blue
$white-blue: rgb(211, 221, 223);
$light-blue: rgba(174, 202, 207, .6);
$base-blue: rgba(127, 155, 161, 1);
$dark-blue: rgba(69, 90, 100, 1);
$darkest-blue: rgb(45, 61, 68);
$trans-blue: rgba(127, 155, 161, .5);

//red
$light-red: rgb(223, 186, 186);
$base-red: rgb(163, 111, 109);
$dark-red: rgb(116, 75, 74);
$darkest-red: rgb(87, 52, 52);
$trans-red: rgba(163, 111, 109, .5);

//brown
$light-brown: rgb(246, 217, 199);
$base-brown: rgba(231, 196, 174, 1);
$dark-brown: rgb(163, 134, 116);

//transparent
$back-trans: rgba(44, 50, 53, 0.7);
$light-trans: rgb(200, 200, 200);