.work {
    min-height: 600px;
    max-height: 1000px;
    margin: 3px;
    //margin-top: 70px;
    border-radius: 20px;
    background-color: $base-red;
    color: white;
    filter: drop-shadow(-3px 3px 2px rgba(5, 5, 5, 0.4));

    &-image {
        //margin-top: 1rem;
        display: grid;
        place-items: center;
        height: 100%;        

        img {
            margin-top: 1rem;
            border-radius: 20px;
            filter: drop-shadow(-3px 3px 2px rgba(5, 5, 5, 0.4));
            max-width: 50%;

            @media screen and (max-width: 359px) {
                width: 90%
            }
        }
    }

    &-info {
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            filter: drop-shadow(-1px 1px 2px rgba(5, 5, 5, 0.4));
            //margin: 1rem 0 1rem 0;
            p {
                margin: 0 1rem 0 1rem;
            }
        }

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }

    &-title {

        width: 100%;
        margin-top: .5rem;
        font-size: 3rem;
        text-align: center;
        filter: drop-shadow(-1px 1px 2px rgba(5, 5, 5, 0.4));
    }

    &-intro {
        margin: 1rem 0 3rem 0;
        padding: 1.5rem;
        text-align: center;
        background-color: $dark-red;
        border-radius: 0 0 20px 20px;
    }

    @media screen and (min-width: 760px) {
        margin-top: 70px;
    }
}

.blog {
    margin: 0;
    min-height: 600px;
    display: grid;
    place-items: center;

    &-info {
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            filter: drop-shadow(-1px 1px 2px rgba(5, 5, 5, 0.4));
            //margin: 1rem 0 1rem 0;
            p {
                margin: 0 1rem 0 1rem;
            }
        }

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }

    &-title {

        width: 100%;
        margin-top: .5rem;
        font-size: 3rem;
        text-align: center;
        filter: drop-shadow(-1px 1px 2px rgba(5, 5, 5, 0.4));
        @media screen and (min-width: 760px) {
            font-size: 5rem;
        }
    }

    &-intro {
        margin: 1rem 0 3rem 0;
        padding: 1.5rem;
        text-align: center;
        border-radius: 0 0 20px 20px;
    }

    @media screen and (min-width: 760px) {
        margin-top: 60px;
    }

}

.view-content {
    // padding: 2rem;
    // //overflow: hidden;
    // background-color: rgb(245, 245, 245);
    // border: rgb(195, 195, 195) 1px solid;
    // filter: drop-shadow(1px 4px 4px rgba(51, 51, 51, 0.4));

    // figure {
    //     max-width: 100%;
        
    //     img {
    //         max-width: 100%;
    //         height: auto;
    //     }
    // }
    
}

.content-container {
    background-color: $white-blue;
    
    padding-bottom: 1rem;
}
